.details-role-table {
  width: 70%;
  margin: 15vh auto 0 auto;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.details-role-table h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.details-role-table tbody tr td blockquote {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.details-role-table tbody tr td blockquote mark {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.details-role-table tbody tr td blockquote mark input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
}
